{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .wpo-wedding-date #clock>div {
        background: url("{% static 'images/clock-bg-g.png' %}") center center/cover no-repeat local;
    }
</style>



<!-- start page-wrapper -->
<div class="page-wrapper">
    <!-- start preloader -->
    <div class="preloader">
        <div class="vertical-centered-box">
            <div class="content">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div>
                <img src="assets/images/favicon.png" alt="">
            </div>
        </div>
    </div>
    <!-- end preloader -->
    <!-- NAVIGATION -->
    {% include 'commons/nav.html' %}
    <!-- start of hero -->
    <section id="top-page" class="wpo-hero-slider wpo-hero-slider-s2">
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{% static 'images/102.jpg' %}">
                        <!-- <div class="gradient-overlay"></div> -->
                        <div class="container-fluid">
                            <div class="slide-content">
                                <div data-swiper-parallax="300" class="slide-title">
                                    <h2>Karissa & Delroy</h2>
                                </div>
                                <div data-swiper-parallax="400" class="slide-text">
                                    <p>We Are Getting Married June 7th 2025</p>
                                </div>
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                                <div class="border-3"></div>
                                <div class="border-4"></div>
                                <div class="s-img-1">
                                    <img src="{% static 'images/shape3.png' %}" alt="">
                                </div>
                                <div class="s-img-2">
                                    <img src="{% static 'images/shape4.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{% static 'images/56.jpg' %}">
                        <!-- <div class="gradient-overlay"></div> -->
                        <div class="container-fluid">
                            <div class="slide-content">
                                <div data-swiper-parallax="300" class="slide-title">
                                    <h2>Karissa & Delroy</h2>
                                </div>
                                <div data-swiper-parallax="400" class="slide-text">
                                    <p>We Are Getting Married June 7th 2025</p>
                                </div>
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                                <div class="border-3"></div>
                                <div class="border-4"></div>
                                <div class="s-img-1">
                                    <img src="{% static 'images/shape3.png' %}" alt="">
                                </div>
                                <div class="s-img-2">
                                    <img src="{% static 'images/shape4.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{% static 'images\53.jpg' %}">
                        <!-- <div class="gradient-overlay"></div> -->
                        <div class="container-fluid">
                            <div class="slide-content">
                                <div data-swiper-parallax="300" class="slide-title">
                                    <h2>Karissa & Delroy</h2>
                                </div>
                                <div data-swiper-parallax="400" class="slide-text">
                                    <p>We Are Getting Married June 7th 2025</p>
                                </div>
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                                <div class="border-3"></div>
                                <div class="border-4"></div>
                                <div class="s-img-1">
                                    <img src="{% static 'images/shape3.png' %}" alt="">
                                </div>
                                <div class="s-img-2">
                                    <img src="{% static 'images/shape4.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->

             
            </div>
            <!-- end swiper-wrapper -->

            <!-- swipper controls -->
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>
    <!-- end of wpo-hero-slide-section-->
    <!-- start wpo-wedding-date -->
    <section class="wpo-wedding-date section-padding">
        <h2 class="hidden"></h2>
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="clock-grids">
                        <div id="clock"></div>
                    </div>
                
                </div>
            </div>
        </div> <!-- end container -->
    </section>
    <!-- start wpo-event-section -->
    <section class="wpo-event-section section-padding" id="event">
        <div class="container">
            <div class="row">
                <div class="wpo-section-title-s2">
                    <div class="section-title-simg">
                        <img src="assets/images/section-title2.png" alt="">
                    </div>
                    <h2>TIME AND PLACE</h2>
                    <div class="section-title-img">
                        <div class="round-ball"></div>
                    </div>
                </div>
            </div>
            <div class="wpo-event-wrap">
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>The Venue</h2>
                                <!-- CROWNE PLAZA -->
                                <ul>
                                    <li>
                                        <strong>Crowne Plaza</strong><br>
                                        <p style="font-style: italic;">
                                            Crowne Plaza, Oxford Rd, Beaconsfield HP9 2XE
                                        </p>

                                        <p class="mb-0">
                                            <strong>
                                                Guest Arrival Time:
                                            </strong>
                                            1:30pm
                                        </p>
                                        <p class="mb-0">
                                            <strong>
                                                Ceremony:
                                            </strong>
                                            2:30pm
                                        </p>
                                        <p class="mb-0">
                                            <strong>
                                                Canapé's, Photos & Mingling:
                                            </strong>
                                            3:15pm
                                        </p>
                                        <p class="mb-0">
                                            <strong>
                                                Wedding Breakfast:
                                            </strong>
                                            5:30pm
                                        </p>
                                        <p>
                                            <strong>
                                                Shake-a-leg:
                                            </strong>
                                            7:30pm - 12:30am (Evening Guests)
                                        </p>



                                        <p>Upon arrival, please ensure you utilize the designated event entrance, which
                                            is situated to the right of the main entrance.<br> This will
                                            help streamline your entry and ensure a smooth arrival experience.</p>

                                    </li>


                                    <li>
                                        <a class=""
                                            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.8349567983028!2d-0.5999030233746611!3d51.59533147183333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487665e0b3c38bb3%3A0xa10bb1543547bb73!2sCrowne%20Plaza%20Gerrards%20Cross%2C%20an%20IHG%20Hotel!5e1!3m2!1sen!2suk!4v1724702690725!5m2!1sen!2suk"
                                            target="_blank">View Location
                                        </a>
                                    </li>


                                </ul>
                                <!-- PREMIER INN -->


                            </div>
                            <div class="event-shape-1">
                                <img src="{% static 'images/event-shape-1-g.png' %}" alt="">
                            </div>
                            <div class="event-shape-2">
                                <img src="{% static 'images/event-shape-2-g.png' %}" alt="">
                            </div>
                        </div>
                    </div>


                    <!-- <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>The Wedding</h2>
                                <ul>
                                    <li>Tuesday, June 7th, 2025
                                        2:30PM</li>
                                    <li>Grand Plaza, Oxford Rd, Beaconsfield HP9 2XE</li>
                                    <li>Phone : 07794 510196</li>

                                    <li> <a class="popup-gmaps"
                                            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.834739194974!2d-0.5999030230961311!3d51.595334804275225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487665e0b3c38bb3%3A0xa10bb1543547bb73!2sCrowne%20Plaza%20Gerrards%20Cross%2C%20an%20IHG%20Hotel!5e1!3m2!1sen!2suk!4v1724676486219!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" target="_blank">See
                                            Location</a></li>
                                </ul>
                            </div>
                            <div class="event-shape-1">
                                <img src="{% static 'images/event-shape-1.png' %}" alt="">
                            </div>
                            <div class="event-shape-2">
                                <img src="{% static 'images/event-shape-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>The Party</h2>
                                <ul>
                                    <li>Tuesday, June 7th, 2025
                                        2:30PM</li>
                                    <li>Grand Plaza, Oxford Rd, Beaconsfield HP9 2XE</li>
                                    <li>Phone : 07794 510196</li>

                                    <li> <a class="popup-gmaps"
                                            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.834739194974!2d-0.5999030230961311!3d51.595334804275225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487665e0b3c38bb3%3A0xa10bb1543547bb73!2sCrowne%20Plaza%20Gerrards%20Cross%2C%20an%20IHG%20Hotel!5e1!3m2!1sen!2suk!4v1724676486219!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" target="_blank">See
                                            Location</a></li>
                                </ul>
                            </div>
                            <div class="event-shape-1">
                                <img src="{% static 'images/event-shape-1.png' %}" alt="">
                            </div>
                            <div class="event-shape-2">
                                <img src="{% static 'images/event-shape-2.png' %}" alt="">
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>

        </div> <!-- end container -->
    </section>
    <!-- end wpo-event-section -->

    <!-- start wpo-event-section -->
    <section class="wpo-event-section" id="accomodation">
        <div class="container">
            <div class="row">
                <div class="wpo-section-title-s2">
                    <div class="section-title-simg">
                        <img src="assets/images/section-title2.png" alt="">
                    </div>
                    <h2>ACCOMODATION</h2>
                    <div class="section-title-img">
                        <div class="round-ball"></div>
                    </div>
                </div>
            </div>
            <div class="wpo-event-wrap">
                <div class="row">

                    <div class="col col-lg-12 col-md-12 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>Accomodation Options</h2>
                                <!-- CROWNE PLAZA -->
                                <ul>
                                    <li>
                                        <strong>Crowne Plaza</strong><br>
                                        <p style="font-style: italic;">
                                            Crowne Plaza, Oxford Rd, Beaconsfield HP9 2XE
                                        </p>
                                        <p>We have a 15% offer with Crowne Plaza, click on "Event Rate" on the Crowne
                                            Plaza website for the discount.<br>
                                            Or call directly on
                                            <em>"01753 89 3891"</em>
                                            and ask to book your room under the event for Karissa and Delroys wedding.
                                        </p>
                                    </li>


                                    <li>
                                        <a class=""
                                            href="https://www.ihg.com/crowneplaza/hotels/us/en/buckinghamshire/hyccp/hoteldetail?fromRedirect=true&qSrt=sBR&qIta=99502056&icdv=99502056&qSlH=HYCCP&qCpid=787055017&qAAR=AE81N&qRtP=AE81N&setPMCookies=true&qSHBrC=CP&qDest=Oxford%20Road%2C%20Beaconsfield%2C%20GB&srb_u=1"
                                            target="_blank">Book a Room Here
                                        </a>
                                    </li>


                                </ul>
                                <!-- PREMIER INN -->
                                <ul style="margin-top: 70px;">
                                    <li>
                                        <strong>Premier Inn</strong><br>
                                        <p style="font-style: italic;">
                                            Thanstead Farm, London Rd, Loudwater, High Wycombe HP10 9YL
                                        </p>
                                        <p>The Premier Inn offers a rate of £97 per night, providing an affordable
                                            option for accommodation. Located approximately 10 to 15 minutes from the
                                            wedding venue, it ensures convenience for guests attending the event.</p>
                                    </li>


                                    <li>
                                        <a class="" href="https://www.premierinn.com/gb/en/home.html"
                                            target="_blank">Book a Room Here
                                        </a>
                                    </li>


                                </ul>
                                <!-- DENHAM GROVE HOTEL -->
                                <ul style="margin-top: 70px;">
                                    <li>
                                        <strong>Denham Grove Hotel</strong><br>
                                        <p style="font-style: italic;">
                                            Tilehouse Ln, Denham, Uxbridge UB9 5DG
                                        </p>
                                        <p>Denham Grove Hotel is conveniently located just 10 minutes from the wedding
                                            venue, offering easy access to the M25 and M40. Reservations can be made
                                            through Booking.com or directly with the hotel by calling 01895 833338 or
                                            clicking the button below.</p>
                                    </li>


                                    <li>
                                        <a class=""
                                            href="https://bookings.travelclick.com/103260?languageid=1#/guestsandrooms"
                                            target="_blank">Book a Room Here
                                        </a>
                                    </li>


                                </ul>

                            </div>
                            <div class="event-shape-1">
                                <img src="{% static 'images/event-shape-1-g.png' %}" alt="">
                            </div>
                            <div class="event-shape-2">
                                <img src="{% static 'images/event-shape-2-g.png' %}" alt="">
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>The Wedding</h2>
                                <ul>
                                    <li>Tuesday, June 7th, 2025
                                        2:30PM</li>
                                    <li>Grand Plaza, Oxford Rd, Beaconsfield HP9 2XE</li>
                                    <li>Phone : 07794 510196</li>

                                    <li> <a class="popup-gmaps"
                                            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.834739194974!2d-0.5999030230961311!3d51.595334804275225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487665e0b3c38bb3%3A0xa10bb1543547bb73!2sCrowne%20Plaza%20Gerrards%20Cross%2C%20an%20IHG%20Hotel!5e1!3m2!1sen!2suk!4v1724676486219!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" target="_blank">See
                                            Location</a></li>
                                </ul>
                            </div>
                            <div class="event-shape-1">
                                <img src="{% static 'images/event-shape-1.png' %}" alt="">
                            </div>
                            <div class="event-shape-2">
                                <img src="{% static 'images/event-shape-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>The Party</h2>
                                <ul>
                                    <li>Tuesday, June 7th, 2025
                                        2:30PM</li>
                                    <li>Grand Plaza, Oxford Rd, Beaconsfield HP9 2XE</li>
                                    <li>Phone : 07794 510196</li>

                                    <li> <a class="popup-gmaps"
                                            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.834739194974!2d-0.5999030230961311!3d51.595334804275225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487665e0b3c38bb3%3A0xa10bb1543547bb73!2sCrowne%20Plaza%20Gerrards%20Cross%2C%20an%20IHG%20Hotel!5e1!3m2!1sen!2suk!4v1724676486219!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" target="_blank">See
                                            Location</a></li>
                                </ul>
                            </div>
                            <div class="event-shape-1">
                                <img src="{% static 'images/event-shape-1.png' %}" alt="">
                            </div>
                            <div class="event-shape-2">
                                <img src="{% static 'images/event-shape-2.png' %}" alt="">
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>

        </div> <!-- end container -->
    </section>
    <!-- end wpo-event-section -->

    <!-- start story-section -->
    <section class="story-section section-padding" id="story">
        <div class="container">
            <div class="row">
                <div class="wpo-section-title-s2">
                    <div class="section-title-simg">
                        <img src="assets/images/section-title2.png" alt="">
                    </div>
                    <h2>Our Love Story</h2>
                    <div class="section-title-img">
                        <div class="round-ball"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-xs-12">
                    <div class="story-timeline">
                        <div class="round-shape"></div>
                        <div class="row">
                            <div class="col col-lg-6 col-12">
                                <div class="story-text right-align-text">
                                    <h3>First time we meet</h3>
                                    <span class="date">Nov 12,2021</span>
                                    <p>We met for the first time at Marlow Park, nervously walking along the river,
                                        trying to act cool. The day was gorgeous, and despite the butterflies, we
                                        couldn't help but feel something special was starting.
                                    </p>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-12">
                                <div class="img-holder">
                                    <img src="{% static 'images/delkarissa2_round.png' %}" alt
                                        class="img img-responsive">
                                    <div class="story-shape-img">
                                        <img src="{% static 'images/shape2.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-6 col-12">
                                <div class="img-holder right-align-text left-site">
                                    <img src="{% static 'images/delkarissa5_round.png' %}" alt
                                        class="img img-responsive">
                                    <div class="story-shape-img">
                                        <img src="{% static 'images/shape2.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-12 text-holder">
                                <span class="heart">
                                    <i class="fi flaticon-heart"></i>
                                </span>
                                <div class="story-text">
                                    <h3>First Getaway</h3>
                                    <span class="date">Dec 25,2021</span>
                                    <p>Our first holiday together was in St. Vincent, where we swapped nerves for sun,
                                        sea, and Caribben Cruise coctails! Between beach days and adventures, we
                                        discovered that traveling together felt just as easy as being home.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-6 col-12 text-holder right-heart">
                                <span class="heart">
                                    <i class="fi flaticon-calendar"></i>
                                </span>
                                <div class="story-text right-align-text">
                                    <h3>Marriage Proposal</h3>
                                    <span class="date">Nov 12,2021</span>
                                    <p>I proposed to Karissa on the pier of our hotel, right as she was getting out of
                                        the sea, glowing from the sunset. I was too nervous to get down on one
                                        knee—didn't want the ring falling into the ocean! So, I sat her down, shared
                                        some heartfelt words, and asked her to spend forever with me.
                                    </p>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-12">
                                <div class="img-holder right-align-text">
                                    <img src="{% static 'images/delkarissa3_round.png' %}" alt
                                        class="img img-responsive">
                                    <div class="story-shape-img">
                                        <img src="{% static 'images/shape2.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-6 col-12">
                                <div class="img-holder video-holder left-site">
                                    <img src="{% static 'images/delkarissa4_round.png' %}" alt
                                        class="img img-responsive">
                                    <div class="story-shape-img">
                                        <img src="{% static 'images/shape2.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-12 text-holder">
                                <span class="heart">
                                    <i class="fi flaticon-dove"></i>
                                </span>
                                <div class="story-text">
                                    <h3>Our Engagement</h3>
                                    <span class="date">Dec 25,2021</span>
                                    <p>Being engaged has given me a whole new level of confidence—like I can take on the
                                        world! But let’s be honest, it also comes with a bit of pressure. After all,
                                        Karissa is someone I want to spoil and provide for…without losing my mind in the
                                        process!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-lg-6 col-lg-6 col-12 text-holder">
                                <span class="heart">
                                    <i class="fi flaticon-wedding-rings"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <hr>
    <!-- end story-section -->



    <!-- start of wpo-site-footer-section -->
    <footer class="wpo-site-footer">
        <!-- UPPER FOOTER GOES HERE -->
        <div class="wpo-lower-footer">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <p class="copyright"> &copy; 2024, Karissa/Delroy.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end of wpo-site-footer-section -->



</div>
<!-- end of page-wrapper -->

{% endblock %}