{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .wpo-wedding-date #clock>div {
        background: url("{% static 'images/clock-bg.png' %}") center center/cover no-repeat local;
    }
</style>



<!-- start page-wrapper -->
<div class="page-wrapper">
    <!-- start preloader -->
    <div class="preloader">
        <div class="vertical-centered-box">
            <div class="content">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div>
                <img src="assets/images/favicon.png" alt="">
            </div>
        </div>
    </div>
    <!-- end preloader -->
    <!-- NAVIGATION -->
    {% include 'commons/nav.html' %}
    <!-- start of hero -->
    <section id="top-page" class="wpo-hero-slider wpo-hero-slider-s2">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{% static 'images/delkarissa.jpeg' %}">
                        <!-- <div class="gradient-overlay"></div> -->
                        <div class="container-fluid">
                            <div class="slide-content">
                                <div data-swiper-parallax="300" class="slide-title">
                                    <h2>Karissa & Delroy</h2>
                                </div>
                                <div data-swiper-parallax="400" class="slide-text">
                                    <p>We Are Getting Married June 7th 2025</p>
                                </div>
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                                <div class="border-3"></div>
                                <div class="border-4"></div>
                                <div class="s-img-1">
                                    <img src="{% static 'images/shape3.png' %}" alt="">
                                </div>
                                <div class="s-img-2">
                                    <img src="{% static 'images/shape4.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{% static 'images\delkarissa2.jpeg' %}">
                        <!-- <div class="gradient-overlay"></div> -->
                        <div class="container-fluid">
                            <div class="slide-content">
                                <div data-swiper-parallax="300" class="slide-title">
                                    <h2>Karissa & Delroy</h2>
                                </div>
                                <div data-swiper-parallax="400" class="slide-text">
                                    <p>We Are Getting Married June 7th 2025</p>
                                </div>
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                                <div class="border-3"></div>
                                <div class="border-4"></div>
                                <div class="s-img-1">
                                    <img src="{% static 'images/shape3.png' %}" alt="">
                                </div>
                                <div class="s-img-2">
                                    <img src="{% static 'images/shape4.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{% static 'images/delkarissa3.jpeg' %}">
                        <!-- <div class="gradient-overlay"></div> -->
                        <div class="container-fluid">
                            <div class="slide-content">
                                <div data-swiper-parallax="300" class="slide-title">
                                    <h2>Karissa & Delroy</h2>
                                </div>
                                <div data-swiper-parallax="400" class="slide-text">
                                    <p>We Are Getting Married June 7th 2025</p>
                                </div>
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                                <div class="border-3"></div>
                                <div class="border-4"></div>
                                <div class="s-img-1">
                                    <img src="{% static 'images/shape3.png' %}" alt="">
                                </div>
                                <div class="s-img-2">
                                    <img src="{% static 'images/shape4.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->

            <!-- swipper controls -->
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>
    <!-- end of wpo-hero-slide-section-->
    <!-- start wpo-wedding-date -->
    <section class="wpo-wedding-date section-padding">
        <h2 class="hidden">some</h2>
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="clock-grids">
                        <div id="clock"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </section>
    <!-- start wpo-event-section -->
    <section class="wpo-event-section section-padding" id="event">
        <div class="container">
            <div class="row">
                <div class="wpo-section-title-s2">
                    <div class="section-title-simg">
                        <img src="assets/images/section-title2.png" alt="">
                    </div>
                    <h2>TIME AND PLACE</h2>
                    <div class="section-title-img">
                        <div class="round-ball"></div>
                    </div>
                </div>
            </div>
            <div class="wpo-event-wrap">
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>The Venue</h2>
                                <!-- CROWNE PLAZA -->
                                <ul>
                                    <li>
                                        <strong>Crowne Plaza</strong><br>
                                        <p style="font-style: italic;">
                                            Crowne Plaza, Oxford Rd, Beaconsfield HP9 2XE
                                        </p>

                                        <p class="mb-0">
                                            <strong>
                                                Guest Arrival Time:
                                            </strong>
                                            1:30pm
                                        </p>
                                        <p class="mb-0">
                                            <strong>
                                                Ceremony:
                                            </strong>
                                            2:30pm
                                        </p>
                                        <p class="mb-0">
                                            <strong>
                                                Canapé's, Photos & Mingling:
                                            </strong>
                                            3:15pm
                                        </p>
                                        <p class="mb-0">
                                            <strong>
                                                Wedding Breakfast:
                                            </strong>
                                            5:30pm
                                        </p>
                                        <p>
                                            <strong>
                                                Shake-a-leg:
                                            </strong>
                                            7:30pm - 12:30am (Evening Guests)
                                        </p>



                                        <p>Upon arrival, please ensure you utilize the designated event entrance, which
                                            is situated to the right of the main entrance.<br> This will
                                            help streamline your entry and ensure a smooth arrival experience.</p>

                                    </li>


                                    <li>
                                        <a class=""
                                            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.8349567983028!2d-0.5999030233746611!3d51.59533147183333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487665e0b3c38bb3%3A0xa10bb1543547bb73!2sCrowne%20Plaza%20Gerrards%20Cross%2C%20an%20IHG%20Hotel!5e1!3m2!1sen!2suk!4v1724702690725!5m2!1sen!2suk"
                                            target="_blank">View Location
                                        </a>
                                    </li>


                                </ul>
                                <!-- PREMIER INN -->


                            </div>
                            <div class="event-shape-1">
                                <img src="{% static 'images/event-shape-1.png' %}" alt="">
                            </div>
                            <div class="event-shape-2">
                                <img src="{% static 'images/event-shape-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
         

                    <!-- <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>The Wedding</h2>
                                <ul>
                                    <li>Tuesday, June 7th, 2025
                                        2:30PM</li>
                                    <li>Grand Plaza, Oxford Rd, Beaconsfield HP9 2XE</li>
                                    <li>Phone : 07794 510196</li>

                                    <li> <a class="popup-gmaps"
                                            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.834739194974!2d-0.5999030230961311!3d51.595334804275225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487665e0b3c38bb3%3A0xa10bb1543547bb73!2sCrowne%20Plaza%20Gerrards%20Cross%2C%20an%20IHG%20Hotel!5e1!3m2!1sen!2suk!4v1724676486219!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" target="_blank">See
                                            Location</a></li>
                                </ul>
                            </div>
                            <div class="event-shape-1">
                                <img src="{% static 'images/event-shape-1.png' %}" alt="">
                            </div>
                            <div class="event-shape-2">
                                <img src="{% static 'images/event-shape-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>The Party</h2>
                                <ul>
                                    <li>Tuesday, June 7th, 2025
                                        2:30PM</li>
                                    <li>Grand Plaza, Oxford Rd, Beaconsfield HP9 2XE</li>
                                    <li>Phone : 07794 510196</li>

                                    <li> <a class="popup-gmaps"
                                            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.834739194974!2d-0.5999030230961311!3d51.595334804275225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487665e0b3c38bb3%3A0xa10bb1543547bb73!2sCrowne%20Plaza%20Gerrards%20Cross%2C%20an%20IHG%20Hotel!5e1!3m2!1sen!2suk!4v1724676486219!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" target="_blank">See
                                            Location</a></li>
                                </ul>
                            </div>
                            <div class="event-shape-1">
                                <img src="{% static 'images/event-shape-1.png' %}" alt="">
                            </div>
                            <div class="event-shape-2">
                                <img src="{% static 'images/event-shape-2.png' %}" alt="">
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>

        </div> <!-- end container -->
    </section>
    <!-- end wpo-event-section -->

    <!-- start wpo-event-section -->
    <section class="wpo-event-section" id="event">
        <div class="container">
            <div class="row">
                <div class="wpo-section-title-s2">
                    <div class="section-title-simg">
                        <img src="assets/images/section-title2.png" alt="">
                    </div>
                    <h2>ACCOMODATION</h2>
                    <div class="section-title-img">
                        <div class="round-ball"></div>
                    </div>
                </div>
            </div>
            <div class="wpo-event-wrap">
                <div class="row">
          
                    <div class="col col-lg-12 col-md-12 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>Accomodation Options</h2>
                                <!-- CROWNE PLAZA -->
                                <ul>
                                    <li>
                                        <strong>Crowne Plaza</strong><br>
                                        <p style="font-style: italic;">
                                            Crowne Plaza, Oxford Rd, Beaconsfield HP9 2XE
                                        </p>
                                        <p>We have a 15% offer with Crowne Plaza, click on "Event Rate" on the Crowne
                                            Plaza website for the discount.<br>
                                            Or call directly on
                                            <em>"01753 89 3891"</em>
                                            and ask to book your room under the event for Karissa and Delroys wedding.
                                        </p>
                                    </li>


                                    <li>
                                        <a class=""
                                            href="https://www.ihg.com/crowneplaza/hotels/us/en/buckinghamshire/hyccp/hoteldetail?fromRedirect=true&qSrt=sBR&qIta=99502056&icdv=99502056&qSlH=HYCCP&qCpid=787055017&qAAR=AE81N&qRtP=AE81N&setPMCookies=true&qSHBrC=CP&qDest=Oxford%20Road%2C%20Beaconsfield%2C%20GB&srb_u=1"
                                            target="_blank">Book a Room Here
                                        </a>
                                    </li>


                                </ul>
                                <!-- PREMIER INN -->
                                <ul style="margin-top: 70px;">
                                    <li>
                                        <strong>Premier Inn</strong><br>
                                        <p style="font-style: italic;">
                                            Thanstead Farm, London Rd, Loudwater, High Wycombe HP10 9YL
                                        </p>
                                        <p>The Premier Inn offers a rate of £97 per night, providing an affordable
                                            option for accommodation. Located approximately 10 to 15 minutes from the
                                            wedding venue, it ensures convenience for guests attending the event.</p>
                                    </li>


                                    <li>
                                        <a class="" href="https://www.premierinn.com/gb/en/home.html"
                                            target="_blank">Book a Room Here
                                        </a>
                                    </li>


                                </ul>
                                <!-- DENHAM GROVE HOTEL -->
                                <ul style="margin-top: 70px;">
                                    <li>
                                        <strong>Denham Grove Hotel</strong><br>
                                        <p style="font-style: italic;">
                                            Tilehouse Ln, Denham, Uxbridge UB9 5DG
                                        </p>
                                        <p>Denham Grove hotel is only 10 minutes away from he wedding venue, with close
                                            connections to the M25 and M40. Can be booked through booking.com or
                                            directly through the hotel by calling "01895 833338" or clicking the button
                                            below to book.</p>
                                    </li>


                                    <li>
                                        <a class=""
                                            href="https://bookings.travelclick.com/103260?languageid=1#/guestsandrooms"
                                            target="_blank">Book a Room Here
                                        </a>
                                    </li>


                                </ul>

                            </div>
                            <div class="event-shape-1">
                                <img src="{% static 'images/event-shape-1.png' %}" alt="">
                            </div>
                            <div class="event-shape-2">
                                <img src="{% static 'images/event-shape-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>The Wedding</h2>
                                <ul>
                                    <li>Tuesday, June 7th, 2025
                                        2:30PM</li>
                                    <li>Grand Plaza, Oxford Rd, Beaconsfield HP9 2XE</li>
                                    <li>Phone : 07794 510196</li>

                                    <li> <a class="popup-gmaps"
                                            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.834739194974!2d-0.5999030230961311!3d51.595334804275225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487665e0b3c38bb3%3A0xa10bb1543547bb73!2sCrowne%20Plaza%20Gerrards%20Cross%2C%20an%20IHG%20Hotel!5e1!3m2!1sen!2suk!4v1724676486219!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" target="_blank">See
                                            Location</a></li>
                                </ul>
                            </div>
                            <div class="event-shape-1">
                                <img src="{% static 'images/event-shape-1.png' %}" alt="">
                            </div>
                            <div class="event-shape-2">
                                <img src="{% static 'images/event-shape-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <h2>The Party</h2>
                                <ul>
                                    <li>Tuesday, June 7th, 2025
                                        2:30PM</li>
                                    <li>Grand Plaza, Oxford Rd, Beaconsfield HP9 2XE</li>
                                    <li>Phone : 07794 510196</li>

                                    <li> <a class="popup-gmaps"
                                            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.834739194974!2d-0.5999030230961311!3d51.595334804275225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487665e0b3c38bb3%3A0xa10bb1543547bb73!2sCrowne%20Plaza%20Gerrards%20Cross%2C%20an%20IHG%20Hotel!5e1!3m2!1sen!2suk!4v1724676486219!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" target="_blank">See
                                            Location</a></li>
                                </ul>
                            </div>
                            <div class="event-shape-1">
                                <img src="{% static 'images/event-shape-1.png' %}" alt="">
                            </div>
                            <div class="event-shape-2">
                                <img src="{% static 'images/event-shape-2.png' %}" alt="">
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>

        </div> <!-- end container -->
    </section>
    <!-- end wpo-event-section -->

    <!-- start story-section -->
    <section class="story-section section-padding" id="story">
        <div class="container">
            <div class="row">
                <div class="wpo-section-title-s2">
                    <div class="section-title-simg">
                        <img src="assets/images/section-title2.png" alt="">
                    </div>
                    <h2>Our Love Story</h2>
                    <div class="section-title-img">
                        <div class="round-ball"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-xs-12">
                    <div class="story-timeline">
                        <div class="round-shape"></div>
                        <div class="row">
                            <div class="col col-lg-6 col-12">
                                <div class="story-text right-align-text">
                                    <h3>First time we meet</h3>
                                    <span class="date">Nov 12,2021</span>
                                    <p>We met for the first time at Marlow Park, nervously walking along the river,
                                        trying to act cool. The day was gorgeous, and despite the butterflies, we
                                        couldn't help but feel something special was starting.
                                    </p>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-12">
                                <div class="img-holder">
                                    <img src="{% static 'images/delkarissa2_round.png' %}" alt
                                        class="img img-responsive">
                                    <div class="story-shape-img">
                                        <img src="{% static 'images/shape2.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-6 col-12">
                                <div class="img-holder right-align-text left-site">
                                    <img src="{% static 'images/delkarissa5_round.png' %}" alt
                                        class="img img-responsive">
                                    <div class="story-shape-img">
                                        <img src="{% static 'images/shape2.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-12 text-holder">
                                <span class="heart">
                                    <i class="fi flaticon-heart"></i>
                                </span>
                                <div class="story-text">
                                    <h3>First Getaway</h3>
                                    <span class="date">Dec 25,2021</span>
                                    <p>Our first holiday together was in St. Vincent, where we swapped nerves for sun,
                                        sea, and Caribben Cruise coctails! Between beach days and adventures, we
                                        discovered that traveling together felt just as easy as being home.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-6 col-12 text-holder right-heart">
                                <span class="heart">
                                    <i class="fi flaticon-calendar"></i>
                                </span>
                                <div class="story-text right-align-text">
                                    <h3>Marriage Proposal</h3>
                                    <span class="date">Nov 12,2021</span>
                                    <p>I proposed to Karissa on the pier of our hotel, right as she was getting out of
                                        the sea, glowing from the sunset. I was too nervous to get down on one
                                        knee—didn't want the ring falling into the ocean! So, I sat her down, shared
                                        some heartfelt words, and asked her to spend forever with me.
                                    </p>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-12">
                                <div class="img-holder right-align-text">
                                    <img src="{% static 'images/delkarissa3_round.png' %}" alt
                                        class="img img-responsive">
                                    <div class="story-shape-img">
                                        <img src="{% static 'images/shape2.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-6 col-12">
                                <div class="img-holder video-holder left-site">
                                    <img src="{% static 'images/delkarissa4_round.png' %}" alt
                                        class="img img-responsive">
                                    <div class="story-shape-img">
                                        <img src="{% static 'images/shape2.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-12 text-holder">
                                <span class="heart">
                                    <i class="fi flaticon-dove"></i>
                                </span>
                                <div class="story-text">
                                    <h3>Our Engagement</h3>
                                    <span class="date">Dec 25,2021</span>
                                    <p>Being engaged has given me a whole new level of confidence—like I can take on the
                                        world! But let’s be honest, it also comes with a bit of pressure. After all,
                                        Karissa is someone I want to spoil and provide for…without losing my mind in the
                                        process!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-lg-6 col-lg-6 col-12 text-holder">
                                <span class="heart">
                                    <i class="fi flaticon-wedding-rings"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <!-- end story-section -->

    <!-- start of wpo-contact-section -->
    <section class="wpo-contact-section section-padding" id="RSVP">
        <div class="container">
            <div class="wpo-contact-section-wrapper">
                <div class="wpo-contact-form-area">
                    <div class="wpo-section-title-s2">
                        <div class="section-title-simg">
                            <img src="{% static 'images/section-title2.png' %}" alt="">
                        </div>
                        <h2>WILL YOU ATTEND?</h2>
                        <div class="section-title-img">
                            <div class="round-ball"></div>
                        </div>
                    </div>
                    <form method="post" class="contact-validation-active" id="contact-form-main">
                        <div>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                        </div>
                        <div>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                        </div>
                        <div>
                            <input type="text" class="form-control" name="adress" id="adress" placeholder="Adress">
                        </div>
                        <div>
                            <select name="service" class="form-control">
                                <option disabled="disabled" selected>Services</option>
                                <option>Photography</option>
                                <option>The Rehearsal Dinner</option>
                                <option>The Afterparty</option>
                                <option>Videographers</option>
                                <option>Perfect Cake</option>
                                <option>All Of The Above</option>
                            </select>
                        </div>
                        <div>
                            <select name="guest" class="form-control">
                                <option disabled="disabled" selected>Number Of Guests</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                            </select>
                        </div>
                        <div>
                            <select name="meal" class="form-control last">
                                <option disabled="disabled" selected>Meal Preferences</option>
                                <option>Chicken Soup</option>
                                <option>Motton Kabab</option>
                                <option>Chicken BBQ</option>
                                <option>Mix Salad</option>
                                <option>Beef Ribs </option>
                            </select>
                        </div>
                        <div class="submit-area">
                            <button type="submit" class="theme-btn-s3">Send An Inquiry</button>
                            <div id="c-loader">
                                <i class="ti-reload"></i>
                            </div>
                        </div>
                        <div class="clearfix error-handling-messages">
                            <div id="success">Thank you</div>
                            <div id="error"> Error occurred while sending email. Please try again later.
                            </div>
                        </div>
                    </form>
                    <div class="border-style"></div>
                </div>
                <div class="vector-1" style="z-index: -10 !important;">
                    <img src="{% static 'images/1_again.png' %}" alt="">
                </div>
                <div class="vector-2">
                    <img src="{% static 'images/2.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- end of wpo-contact-section -->

    <!-- start of wpo-site-footer-section -->
    <footer class="wpo-site-footer">
        <div class="wpo-upper-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="widget about-widget">
                            <div class="logo widget-title">
                                <img src="assets/images/logo.png" alt="blog">
                            </div>
                            <p>Welcome and open yourself to your truest love this year with us! With the Release
                                Process</p>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-xl-3  col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="widget link-widget">
                            <div class="widget-title">
                                <h3>Information</h3>
                            </div>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="blog.html">Latest News</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="service.html">Our Services</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-xl-3  col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="widget wpo-service-link-widget">
                            <div class="widget-title">
                                <h3>Contact </h3>
                            </div>
                            <div class="contact-ft">
                                <p>Would you have any enquiries.Please feel free to contuct us</p>
                                <ul>
                                    <li><i class="fi flaticon-email"></i>loveme@gmail.com</li>
                                    <li><i class="fi flaticon-phone-call"></i>+888 (123) 869523</li>
                                    <li><i class="fi flaticon-maps-and-flags"></i>New York – 1075 Firs Avenue
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col col-xl-3  col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="widget instagram">
                            <div class="widget-title">
                                <h3>Instagram</h3>
                            </div>
                            <ul class="d-flex">
                                <li><a href="portfolio-single.html"><img src="assets/images/instragram/1.jpg"
                                            alt=""></a></li>
                                <li><a href="portfolio-single.html"><img src="assets/images/instragram/2.jpg"
                                            alt=""></a></li>
                                <li><a href="portfolio-single.html"><img src="assets/images/instragram/3.jpg"
                                            alt=""></a></li>
                                <li><a href="portfolio-single.html"><img src="assets/images/instragram/4.jpg"
                                            alt=""></a></li>
                                <li><a href="portfolio-single.html"><img src="assets/images/instragram/5.jpg"
                                            alt=""></a></li>
                                <li><a href="portfolio-single.html"><img src="assets/images/instragram/6.jpg"
                                            alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </div>
        <div class="wpo-lower-footer">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <p class="copyright"> &copy; 2021 Loveme Template. Design By <a href="index.html">wpOceans</a>.
                            All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end of wpo-site-footer-section -->



</div>
<!-- end of page-wrapper -->

{% endblock %}