{% extends 'backend_base.html' %}

{% block content %}

<style>
    #additional-attendees {
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: height 0.5s ease, opacity 0.5s ease;
    }

    #additional-attendees.show {
        height: auto;
        opacity: 1;
    }
</style>


<section id="rsvp">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                <div class="title-block">
                    <h1>Who Are You <span><em>Inviting?</em></span></h1>
                    <div class="divider"></div>
                    <p><em>Make sure to let them know what they're invited to.<br>Would be awkward if a party guest
                            showed up for the ceremony.</em></p>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                <form method="post" id="ajaxForm" data-toggle="validator">
                    {% csrf_token %}
                    <div class="row" style="margin-bottom: 50px;">
                        <div class="col-md-6 text-center">
                            <input type="checkbox" id="ceremony" name="ceremony"
                            {% if form.ceremony.value %}checked{% endif %}>
                            <label for="ceremony" class="checkbox-button">
                                <i class="fa-regular fa-circle fa-xs" aria-hidden="true"></i>
                                Ceremony
                            </label>
                            <p>Crowne Plaza, Oxford Road, Beaconsfield,<br>Gerrards Cross, HP9 2XE</p>
                        </div>
                        <div class="col-md-6 text-center">
                            <input type="checkbox" id="after_party" name="after_party"
                            {% if form.after_party.value %}checked{% endif %}>
                            <label for="after_party" class="checkbox-button">
                                <i class="fa-regular fa-circle fa-xs" aria-hidden="true"></i>
                                After-Party
                            </label>
                            <p>Crowne Plaza, Oxford Road, Beaconsfield,<br>Gerrards Cross, HP9 2XE</p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" placeholder="Main Attendee's Name" type="text"
                                    name="family_name" id="id_family_name"
                                    value="{{ form.family_name.value|default_if_none:'' }}" />
                                {% if form.family_name.errors %}
                                <div class="error">{{ form.family_name.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" placeholder="Main Attendee's Email" type="email"
                                    name="email" id="id_email" value="" />
                                {% if form.email.errors %}
                                <div class="error">{{ form.email.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message" name="message"
                                    id="id_message">{{ form.message.value|default_if_none:'' }}</textarea>
                                {% if form.message.errors %}
                                <div class="error">{{ form.message.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Additional Attendees</h4>
                        <i id="toggle-attendees" class="fa-solid fa-circle-plus fa-2xl"
                            style="cursor: pointer; margin: 20px 0px;"></i>
                        <div class="col-md-12 add-attendees-box" id="additional-attendees"> <!-- Toggle Container -->
                            {{ formset.management_form }}
                            {% for form in formset %}
                            <div class="form-group">
                                <input placeholder="Additional Attendee {{ forloop.counter }}" class="form-control"
                                    type="text" name="attendees-{{ forloop.counter0 }}-name"
                                    id="id_attendees-{{ forloop.counter0 }}-name"
                                    value="{{ form.name.value|default_if_none:'' }}" />
                                {% if form.name.errors %}
                                <div class="error">{{ form.name.errors }}</div>
                                {% endif %}
                            </div>

                            <hr>
                            {% endfor %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg">Send Invite</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('toggle-attendees').addEventListener('click', function () {
        var attendeesBox = document.getElementById('additional-attendees');
        if (attendeesBox.classList.contains('show')) {
            attendeesBox.classList.remove('show');
            this.classList.remove('fa-circle-minus');
            this.classList.add('fa-circle-plus');
        } else {
            attendeesBox.classList.add('show');
            this.classList.remove('fa-circle-plus');
            this.classList.add('fa-circle-minus');
        }
    });
</script>




{% endblock %}