<!-- templates\RSVP\rsvp_form.html -->
{% extends 'backend_base.html' %}

{% block content %}
<style>
    #additional-attendees {
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: height 0.5s ease, opacity 0.5s ease;
    }

    #additional-attendees.show {
        height: auto;
        opacity: 1;
    }
</style>

<section id="rsvp">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                <div class="title-block">
                    <h1>You've Been Invited To Our <span><em>Wedding!</em></span></h1>
                    <div class="divider"></div>
                    <p>Ooooooooh how lucky are you!?</p>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                <form method="post" id="rsvpForm" data-toggle="validator">
                    {% csrf_token %}
                    <!-- RSVP Response Selection -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="response">Will you be attending?</label>
                                {{ form.response }}
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="reason">Reason (if not attending):</label>
                                {{ form.reason }}
                            </div>
                        </div>
                    </div>

                    <!-- Attendees -->
                    <div class="row">
                        <h2>Attendees</h2>
                        <div class="col-md-12 add-attendees-box">
                            {{ formset.management_form }}

                            {% for attendee_form in formset %}
                            <div class="form-group">
                                <h3>Attendee {{ forloop.counter }}</h3>

                                <!-- Hidden ID field -->
                                {{ attendee_form.id }}

                                <label for="id_attendees-{{ forloop.counter0 }}-name">Name:</label>
                                {{ attendee_form.name }}

                                <label for="id_attendees-{{ forloop.counter0 }}-dietary_restrictions">Dietary
                                    Restrictions:</label>
                                {{ attendee_form.dietary_restrictions }}
                            </div>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg">Submit RSVP</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('toggle-attendees').addEventListener('click', function () {
        var attendeesBox = document.getElementById('additional-attendees');
        if (attendeesBox.classList.contains('show')) {
            attendeesBox.classList.remove('show');
            this.classList.remove('fa-circle-minus');
            this.classList.add('fa-circle-plus');
        } else {
            attendeesBox.classList.add('show');
            this.classList.remove('fa-circle-plus');
            this.classList.add('fa-circle-minus');
        }
    });
</script>
{% endblock %}