{% extends 'backend_base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'RSVP/css/thank-you.css' %}">

<section id="rsvp" style="margin-top: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                <div class="title-block">
                    <h1>Invitation <span><em>Sent!</em></span></h1>
                    <div class="divider"></div>
                    <p>When they respond, we should both get an email with their <em>yay </em> or <em>nay</em></p>
                </div>
                <a class="btn btn-primary btn-lg"
                href="{% url 'weddingApp_RSVP:create_rsvp' %}">
                    Invite Someone Else?
                </a>
            </div>

        </div>
    </div>
</section>

{% endblock %}