{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'RSVP/css/thank-you.css' %}">

<section id="rsvp" style="margin-top: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                <div class="title-block">
                    <h1>Thank You For Your <span><em>Response!</em></span></h1>
                    <div class="divider"></div>
                    <p>You can now look at other things like our gallery and the food we'll be serving. <br>We'll also notify you once your seat has been assigned.</p>
                </div>
                <a class="btn btn-primary btn-lg" href="">
                    The Home Page
                </a>
            </div>

        </div>
    </div>
</section>

{% endblock %}